<div class="header">
    <h1>Datos de la Venta</h1>
    <p>Ingrese los datos de las ventas</p>    
    <p>Productos dispobibles:</p>
    <ul id="horizontal-list">
        <li>Producto 1</li>
        <li>Producto 2</li>
        <li>Producto 3</li>
    </ul>
</div>    
<label>Cliente:</label>
<input type="text">
<label>Dui:</label>
<input type="text">
<select>
    <option value="Selecciona">Selecciona</option>
    <option>Producto 1</option>
    <option>Producto 2</option>
    <option>Producto 3</option>
</select>
<button class="button">Ingresar</button>
<br/><br/>
<table >
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Dui</th>
            <th>Código producto</th>
            <th>Descripción Producto</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
        </tr>
    </tbody>
</table>