.header {
    padding: 40px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
input,select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 2vw;
}
label{
    font-size: 2vw;
}


table, th, td{
    border: 1px solid black;
    text-align: center;
    font-size: 2vw;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
}
ul#horizontal-list li {
    display: inline;
    border: 1px solid #3c707a;
    border-radius: 20%;
    margin-right: 10px;
    padding: 15px 5px;
    background: #2196ad;  
    font-size: 18px;
}