<div class="header">
    <h1>Datos de la Venta</h1>
    <p>Ingrese los datos de las ventas</p>    
    <p>Productos dispobibles:</p>
    <ul id="horizontal-list">
        <li *ngFor="let prod of inventario" >
            {{prod.descripcion}}
        </li>
    </ul>
</div>    
<label>Cliente:</label>
<input type="text" [(ngModel)]="nombre">
<label>Dui:</label>
<input type="text" [(ngModel)]="dui">
<select [(ngModel)]="opcionSeleccionado"> 
    <option value="Selecciona" selected="selected">Selecciona</option>
    <option *ngFor="let prod of inventario" value="{{prod.id}}" >{{prod.descripcion}}</option>
</select>
<button class="button" (click)="ingresarVenta()">Ingresar</button>
<br/><br/>
<table [hidden]="contador == 0">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Dui</th>
            <th>Código producto</th>
            <th>Descripción Producto</th>
            <th>Precio</th>
            <th>Descuento</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let compra of listadoCompras">
            <td>{{compra.nombre}}</td>
            <td>{{compra.dui}}</td>
            <td>{{compra.codProducto}}</td>
            <td>{{compra.descProducto}}</td>
            <td>{{compra.precioProducto}}</td> 
            <td>{{compra.descuento}}%</td>
        </tr>
    </tbody>
</table>